@import url('https://fonts.googleapis.com/css?family=Courgette');
/**** general ****/

* {
  box-sizing: border-box;
}

body,
html,
#root,
.App {
  font-family: 'Courgette', cursive;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.App {
  height: 100%;
}

/******* user selections ********/
.user-page {
  display: flex;
  height: 100%;
}

.title-section {
  flex-basis: 60%;
  height: 100%;
}

.userSettings {
  flex-basis: 40%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.userSettings h5 {
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.userSettings .selectTime,
.userSettings .selectLayout {
  margin-top: 70px;
}

h1.matchTheFlag {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  font-size: 60px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.gameTitle h2 {
  -webkit-text-stroke: 1px black;
  color: rgb(165, 168, 177);
  font-size: 40px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 70px 0 20px 100px;
}

.playButtonBox {
  text-align: center;
  margin-top: 50px;
}

.options-buttons {
  margin: 5px;
}

.options-buttons:focus {
  background-color: #264348;
}

.playButton {
  font-size: 30px;
  padding: 10px;
  -webkit-box-shadow: -1px -1px 28px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -1px -1px 28px -1px rgba(0, 0, 0, 0.6);
  box-shadow: -1px -1px 28px -1px rgba(0, 0, 0, 0.6);
}

/******* game *******/

/* clock */
.clock {
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: -1px -1px 28px -1px rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.54);
}

/* controls */
.controls {
  width: 120px;
  background-image: linear-gradient(to right top, #89c4f4, #54aaf8, #0f8efa, #0070f6, #124ceb);
  margin-bottom: 30px;
}

.meir{
  box-sizing: border-box;
  float: left;
}

/* modal winner */

.imgModule{
  width: 130px;
  height: 130px;
  text-align: center;
}

/* card */
.ImgCard {
  height: 120px;
  width: 120px;
  margin-top: 4px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.ImgCard:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.Card {
  padding: 5px;
  display: inline-block;
  text-align: center, center;
}


