.App {
  text-align: center;
  background: linear-gradient(#4D8FAC,white);
  width: 100%;
  min-height: 600px;
  font-family: 'Courgette', cursive;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* carde */
.ImgCard{   
  /* width: 120px;
  height: 120px; */
  height: 90px;
  width: 80%;
  margin-top: 4px;

}
.imgModule{
  width: 130px;
  height: 130px;
  text-align: center;
}
.Card{
padding: 5px;
display: inline-block;

}
.Board{
  padding: 10px;
  border: 4px solid #264348;
   
}
/* .ImgCard{} */
/* float: left; */
.meir{
  box-sizing: border-box;
  float: left;
}